body{
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-color: antiquewhite;
}


.icon{
    display:flex;
    justify-content: end;
    padding:10px 10px;
    margin: 12px 12px;
    

}
.icon:hover{
    cursor: pointer
}
P{
    text-align: center;
    padding: 30px;
    font-size: 12px;
    color: darkgray;
}
h3{
    text-align: center;
}
.shop{
    width: 5%;
    position: fixed;
    top: 0;
    color: greenyellow;
    
}
.shop:hover{
    cursor: pointer;
    

}
nav a{
   text-decoration: none;
    margin: 7px;
    text-align: center;
    color: darkgray; 
    margin-left: 65px;
    color: brown;
    border: 1px solid black;
    border-radius: 0.5rem;
    background-color: greenyellow;
    
}
nav a:hover{
    color: black;
    background-color: bisque;
    transition: 0.5s;
}
.correct{
    justify-content: center;
    color: green;
    margin-left: 80px;

}
.photo{
   display: inline-block;
   width: 100px;
   margin: 12px;
   padding: 80px;
}
a{
    text-decoration: none;
    color:green;
}
footer{
    text-align: center;
    margin: 12px 12px;
    padding: 10px 10px;
}
h1{
    text-align: center;
    border: 1px dotted black;
    border-radius: 1rem;
}
h1:hover{
background-color: yellow;
    color: brown;
    cursor: pointer;
    transition: 1s;
    transform: translateY(10px);
    transform: rotate(0.5deg);
    

}



